/* Incio Fonts Online */

/* fim Fonts Online */

body {
  background-color: rgb(158, 138, 111);
}




/* Incicio Efeitos */

@keyframes efx_scala{
    0%{
      transform: scale(0);
    }
    100%{
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes efx_trans_x{
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(1);
      opacity: 1;
    }
  }

  @keyframes efx_trans_y{
    0%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(1);
      opacity: 1;
    }
  }



  /* Fim Efeitos */

